<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
</head>
<body>
    <h1>The Analytics</h1>

    <table>
        <tr>
            <th> S.No.</th>
            <th> Shortened URL </th>
            <th> Original URL </th>
            <th> Visits </th>
        </tr>

        <% if(locals.allUrl){ %>
            <% locals.allUrl.forEach((url, index) => { %>
                <tr>
                    <td> <%= index+1 %> </td>
                    <td> http://localhost:8000/url/<%= url.shortenedId %> </td>
                    <td> <%= url.originalLink %> </td>
                    <td> <%= url.visitHistory.length %> </td>
                </tr>
            <% }); %>
        <% } %>

    </table>
</body>
</html>